<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Eliscore saves your scores with a flame of the Phoenix">
    <meta name="author" content="">

    <title>Eliscore</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container container-narrow">
      <%= render Eliscore.SharedView, "_header.html", assigns %>

      <div class="form" id="main_container"></div>

      <%= render Eliscore.SharedView, "_footer.html", assigns %>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
