.header {
  border-bottom: 1px solid $tertiary-color;

  .timer-countdown {
    padding-top: 10px;
    padding-left: 10px;
  }

  .tournament-date {
    display: none;
  }

  .menu {
    &__item {
      float: right;

      &--left {
        float: left;
        letter-spacing: 5px;
      }
    }
  }
}
