.link {
  margin-top: 3px;
  text-align: right;
  font-size: 13px;
  font-style: italic;

  a {
    color: #fff;
  }
}

.form-errors {
  padding: 5px;
  text-align: center;
  color: #D33E43;
}

.google-button {
  display: flex;
  align-items: center;
  height: $google-height;
  padding-top: $google-padding-top;
  padding-right: $google-padding-right;
  padding-left: $google-padding-left;
  font-family: $google-font-family;
  font-size: $google-font-size;
  font-weight: $google-font-weight;
  background-color: $google-background-color;
  border: $google-border;
  border-radius: $google-border-radius;
  color: $google-color;

  &-wrapper {
    display: flex;
    justify-content: center;
  }

  &-logo {
    height: 20px;
  }

  &-text {
    display: inline-block;
  }
}
