.score-table {
  &__title {
    border-bottom: 1px solid $tertiary-color;
    letter-spacing: 6px;

    h3 {
      margin: 15px auto;
    }
  }

  &__footer {
    float: right;
    margin-top: 35px;

    .btn-add-game {
      padding: 7px 12px;
    }
  }

  &__btn-new {
    padding: 10px 15px;
    cursor: pointer;
    border-radius: 10%;
    transition: 0.2s linear;
    background-color: darken($bg-color-primary, 5%);

    &:hover {
      transform: scale(1.1);
      background-color: grey;
      color: $color-black;
    }
  }
}

.match {
  margin-top: 20px;
  padding: 0 50px;

  &__separator {
    text-align: center;
    font-size: 30px;
    color: $color-black;
  }

  &__row {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.player {
  text-align: center;

  &__score {
    text-align: center;
    font-size: 30px;
    padding: 5px 5px;
    background-color: lighten($bg-color-primary, 10%);
    border-radius: 15%;
  }

  &__name {
    background-color: darken($bg-color-primary, 10%);
    margin: 0px 40px 0px 40px;
    width: 150px;
  }
}
