@import '~bootstrap/dist/css/bootstrap.css';
@import 'settings/variables';
@import 'settings/overwrites';
@import 'components/footer';
@import 'components/header';
@import 'components/score_table';
@import 'components/view_container';
@import 'components/login_form';
@import 'components/add_match_form';

html,
body {
  font-family: $font-stack;
  height: 100%;
  background-color: $bg-color-primary;
  color: $text-color-primary;
}

a {
  color: #0C0101;
}

.container {
  &.container-narrow {
    width: $default-width;
    padding: 0;
    position: relative;
    min-height: 100%;
  }
}
