.nav > li > a {
  border-radius: 0px;

  &:hover {
    background-color: $bg-color-pills-hover;
    color: $color-pills-hover;
  }
}

.form-horizontal {
  .form-group {
    margin-left: 0;
    margin-right: 0;
  }

  .btn {
    width: 100%;
  }
}

