$primary-color: #81559B;
$secondary-color: #8C86AA;
$tertiary-color: #1997c6;
$font-stack: 'Lato', sans-serif;

$color-black: #000000;
$text-color-primary: #F7F4EA;
$color-pills-hover: #fff;

$font-color: #cfd2da;
$font-color-hover: lighten(#cfd2da, 20%);

$tertiary-color-dark: darken($tertiary-color, 20%);
$tertiary-color-darker: darken($tertiary-color, 25%);

$bg-color-primary: #252830;
$bg-color-secondary: #222222;
$bg-color-pills-hover: #fff;
$bg-color-pills-active: rgba(#1ca8dd, 0.15);
$bg-color-pills-active-hover: rgba(#1ca8dd, 0.2);


$default-width: 840px;
