$primary-color: #81559B;
$secondary-color: #8C86AA;
$tertiary-color: #9BEFB2;
$font-stack: 'Lato', sans-serif;

$color-black: #000000;
$text-color-primary: #F7F4EA;
$color-pills-hover: #fff;

$bg-color-primary: #7E3F8F;
$bg-color-secondary: #81559B;
$bg-color-pills-hover: #fff;


$default-width: 840px;
